@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: rgba(0, 4, 15, 1);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app_bg {
  max-width: 1556px;
  margin: 0 auto;
}

.custom_button {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );

  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  /* line-height: 28px; */
  font-size: 14px;
  padding: 1rem 1.8rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.border-2 {
  border-width: 2px;
  border-style: solid;
  border-color: blue;
}

.p_poppins {
  font-family: "Poppins", sans-serif;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-size: 16px;
  max-width: 560px;
}

h1,
h4,
h3 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14 px;
}

/* .h1_poppins { */
/* font-family: "Poppins", sans-serif; */
/* line-height: 24px; */
/* max-width: 620px; */
/* } */

@media screen and (min-width: 1550px) {
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 450px) {
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: yellow;
}
